#ifndef SUPLA_SECRETS_H_
#define SUPLA_SECRETS_H_

#include <SuplaDevice.h>

namespace SuplaSecrets {

static constexpr char kWifiSsid[] = "CHANGE_ME_WIFI";
static constexpr char kWifiPassword[] = "CHANGE_ME_PASSWORD";
static constexpr char kSuplaServer[] = "svr1.supla.org";
static constexpr char kSuplaEmail[] = "user@example.com";

static constexpr char kGuid[SUPLA_GUID_SIZE] = {
    0x10, 0x32, 0x54, 0x76, 0x11, 0x22, 0x33, 0x44,
    0x55, 0x66, 0x21, 0x43, 0x65, 0x12, 0x34, 0x56};

static constexpr char kAuthKey[SUPLA_AUTHKEY_SIZE] = {
    static_cast<char>(0x66), static_cast<char>(0x54), static_cast<char>(0x32),
    static_cast<char>(0x10), static_cast<char>(0x09), static_cast<char>(0x87),
    static_cast<char>(0x65), static_cast<char>(0x43), static_cast<char>(0x21),
    static_cast<char>(0x10), static_cast<char>(0xFE), static_cast<char>(0xDC),
    static_cast<char>(0xBA), static_cast<char>(0x98), static_cast<char>(0x76),
    static_cast<char>(0x54)};

}  // namespace SuplaSecrets

#endif
